/*
    This file is part of Fedora Linux Update Indicator

    Fedora Linux Update Indicator is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Fedora Linux Update Indicator is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Fedora Linux Update Indicator.  If not, see <http://www.gnu.org/licenses/>.

    Copyright 2023 Ralph Plawetzki
*/

.fedora-updates-list {
	padding: 0px 1em 0px 1em;
}

.fedora-updates-menubutton {
	/* Meant to be used as an override to display a small system-menu-action */
	border-radius: 10px;
	padding: 0px 4px;
}

.fedora-updates-menubutton:hover, .fedora-updates-menubutton:focus {
	/* 1px borders disapears, need to compensate */
	padding: 1px 5px;
}

.fedora-updates-menubutton > StIcon {
	icon-size: 16px;
}

.fedora-updates-updates-list {
	padding: .8em;
}

.fedora-updates-update-title {
	font-weight: bold;
}

.fedora-updates-update-name {
	padding-right: 1em;
}

.fedora-updates-update-name-link {
	padding-right: 1em;
}

.fedora-updates-update-name-link:hover {
	background-color: #404040;
}

.fedora-updates-update-version-to {
	vertical-align: baseline;
}

